 <fieldset id="container">
   <ion-card>

    <img class="img"src="assets/image/img13.jpg">

    <ion-avatar>
      <img src="assets/image/profile.jpg">
    </ion-avatar>

  </ion-card>
       <ion-card>
  <p> Mae Ann B. Hamtig (Mingay)</p>
</ion-card>
 

    <ion-card>
    <h2><ion-icon name="calendar-sharp"></ion-icon>  Born on December 19, 2000</h2>
    <h2><ion-icon name="female-sharp"></ion-icon>  Gender: Female</h2>
    <h2><ion-icon name="school-sharp"></ion-icon>  Studied at Eastern Visayas State University Carigara Campus</h2>
    <h2><ion-icon name="home-sharp"></ion-icon>  Lives in Brgy. Candigahub Carigara,Leyte</h2>
    <h2><ion-icon name="book-sharp"></ion-icon>  Major in Bachelor of Science in Information Technology</h2>
    <h2><ion-icon name="checkmark-done-sharp"></ion-icon>  Year&Section: Third Year Section A</h2>
  </ion-card>

  
</fieldset>